.split {
  display: flex;
}

.left,
.right {
  transition: all 0.3s ease;
}

.left {
  flex: none;
  overflow-y: auto;
}

.right {
  flex: none;
  overflow-y: auto;
  border-left: 1px solid #ccc;
  display: none;
}

.split .left {
  flex: 1;
  width: 50%;
}

.split .right {
  flex: 1;
  display: block;
}
